html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  border: 5px solid black;
  width: 80vw;
  height: 300px;
  max-width: 450px;
  max-height: 450px;
  padding: 5px 5px 5px 5px;
  display: block;
  justify-content: center;
  align-content: center;
}